<component name="libraryTable">
  <library name="log4j">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/lib/log4j-1.2.14.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/slf4j-api-1.5.11.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/slf4j-log4j12-1.5.11.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>